body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
  .sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
  background-color: antiquewhite;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .feed {
    background-color: aqua;
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
  }
  .widgets {
    background-color: aquamarine;
    flex: 0.3;
  }